<ion-view view-title="Answers">
    <ion-content>
        <div class="centertext">
            <h4>Verify Your Answers</h4>
        </div>
        <div ng-repeat="y in questionset" class="fullquestion">
            <div>
                {{y.quesid}} : {{y.question}}
            </div>

            <div ng-if="y.answer1 == 'Yes'" class="options row">
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="1" ng-model="answers[$index]" disabled>
                    <div class="item-content answersdisabled" style="width: 90%;">
                        Yes
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0" ng-model="answers[$index]" disabled>
                    <div class="item-content answersdisabled">
                        No
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
            <div ng-if="y.answer1 != 'Yes'" class="options row">
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0" ng-model="answers[$index]" disabled>
                    <div class="item-content answersdisabled" style="width: 90%;">
                        Low
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0.5" ng-model="answers[$index]" disabled>
                    <div class="item-content answersdisabled" style="width: 90%;">
                        Medium
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="1" ng-model="answers[$index]" disabled>
                    <div class="item-content answersdisabled" style="width: 90%;">
                        High
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </div>
        <button class="button button-dark bottombutton" ng-click="submit()">Report</button>
    </ion-content>
</ion-view>