<ion-view view-title="Answers">
    <ion-content>
        <div class="centertext">
            <h4>Verify Your Answers</h4>
        </div>
        <div ng-repeat="z in questionset" class="fullquestion">
            <div>
                {{z.quesid}} : {{z.question}}
            </div>

            <div ng-if="z.answer1 == 'Yes'" class="options">
                <input type="radio" value="1" ng-model="answerset[$index]" disabled>Yes
                <input type="radio" value="0" ng-model="answerset[$index]" disabled>No
            </div>
            <div ng-if="z.answer1 != 'Yes'" class="options">
                <input type="radio" value="0" ng-model="answerset[$index]" disabled>Low
                <input type="radio" value="0.5" ng-model="answerset[$index]" disabled>Medium
                <input type="radio" value="1" ng-model="answerset[$index]" disabled>High
            </div>
        </div>
        <div class="submit" style="text-align:center;">
            <button class="button button-dark bottombutton" ng-click="submit()">Report</button>
    </ion-content>
</ion-view>