<ion-view view-title="Answers">
	<ion-content>
		<h1>Answers</h1>
		<ion-list>
			<ion-item ng-repeat="y in question">

				<p class="para"><strong>{{y.quesid}}<span>]</span> {{y.question}}</strong>
				</p>
				</p>

				<div ng-if="y.answer1 == 'Yes'">
					<input type="radio" value="1" ng-model="answerset[$index]" disabled>Yes
					<input type="radio" value="0" ng-model="answerset[$index]" disabled>No</div>
				<div ng-if="y.answer1 != 'Yes'">
					<input type="radio" value="0" ng-model="answerset[$index]" disabled>Low
					<input type="radio" value="0.5" ng-model="answerset[$index]" disabled>Medium
					<input type="radio" value="1" ng-model="answerset[$index]" disabled>High</div>
				<!--<input type="radio" value="{{y.answer1}}" ng-model="que.ans">{{y.answer1}}
                <br>
                <input type="radio" value="{{y.answer2}}" ng-model="que.ans">{{y.answer2}}
                <br>
                <input type="radio" value="{{y.answer3}}" ng-model="que.ans" ng-if="y.answer3.length>0">{{y.answer3}}
                <br>-->





				<br>

			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>