<ion-view view-title="Appointment">
    <ion-content class="padding8p">
        <h4>Take An Appointment</h4>
        <div class="lefttext">We recommend you Dr. Hamish D'Souza for the headache you are suffering from.
            <br> His clinic is open from 4pm-7pm from Monday to Saturday.
        </div>
        <br>
        <div class="lefttext">
            <div class=""><strong>Address:</strong>
            </div>
            <div> 3, Martin Villa,
                <br> Vidyavihar (West),
                <br> Mumbai-400086</div>
        </div>
        <br>
        <!--CALENDER-->
        <div class="row perday" ng-repeat="w in week" ng-if="w != 0">
            <div class="col col-50 inlinediv appointmentdays">
                <div class="inlinediv vtcenter2">
                    <div class="innerelement">{{w | daystring}}, </div>
                    <div class="innerelement">{{date[$index]}} {{month[$index] | monthstring}}, 2015</div>
                </div>
            </div>
            <div class="col col-50 row inlinediv appointmenttimes">
                <div class="col innerelement availableapps slot" ng-class="{bookedslot: appvalues.indexOf(modelvalues[$index]) > -1 }" ng-click="setappointment($index,modelvalues[$index],4)">
                    <div style="margin-top: 11%;">4pm-5pm</div>
                </div>
                <div class="col innerelement availableapps slot" ng-class="{bookedslot: appvalues.indexOf(modelvalues[$index]+1) > -1 }" ng-click="setappointment($index,modelvalues[$index]+1,5)">
                    <div style="margin-top: 11%;">5pm-6pm</div>
                </div>
                <div class="col innerelement availableapps slot" ng-class="{bookedslot: appvalues.indexOf(modelvalues[$index]+2) > -1 }" ng-click="setappointment($index,modelvalues[$index]+2,6)">
                    <div style="margin-top: 11%;">6pm-7pm</div>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div><strong>Note :</strong> For any cancellations please call 7679879878.</div>
        <button class="button button-dark bottombutton" ng-click="gotohome()">
            <span>Finish</span>
        </button>
    </ion-content>
</ion-view>