<ion-view view-title="Forgot Password">
    <ion-content class="padding8p">
        <h4 class="centertext">Forgot Password</h4>
        <input type="text" placeholder="Username" ng-model="forgot.username" class="inputfield">
        <div class="errortext">
            {{error}}
        </div>
        <button class="button button-dark bottombutton" ng-click="getquestion()">
            <span>Go</span>
        </button>
        <br>
        <div>
            {{question}}
        </div>
        <br>
        <input type="text" placeholder="answer" ng-model="forgot.answer" class="inputfield">
        <br>
        <button class="button button-dark bottombutton" ng-click="checkanswer()">
            <span>Go</span>
        </button>
        <strong>Password : </strong> {{password}}
    </ion-content>
</ion-view>