<ion-view view-title="Home">
    <ion-nav-bar class="bar-stable nav-bar-container">
    </ion-nav-bar>
    <ion-content>
        <div class="list card no-border">
            <a href="#/app/questions" class="item item-icon-left homecard">
                <i class="icon ion-medkit"></i> Take Test
            </a>

            <a href="#/app/history" class="item item-icon-left homecard">
                <i class="icon ion-man"></i> Patient History
            </a>

            <a class="item item-icon-left homecard" ng-click="logout()">
                <i class="icon ion-power"></i> Logout
            </a>
        </div>
    </ion-content>
</ion-view>