<ion-view view-title="Home">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Take Test</h2>
            </div>
        </div>
        <div class="card">
           <a href="#app/history"> <div class="item item-text-wrap">
                <h2>Patient History</h2></a>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap" ng-click="logout()">
                <h2>Logout</h2>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>
                    mail apk to bharat.prabhu99@gmail.com tonight</h2>
            </div>
        </div>
    </ion-content>
</ion-view>