<ion-view view-title="Login">
  <ion-content>
    <h1>Login</h1>
      <input type="text" class="inputfields" ng-model="user.username" placeholder="EmailId" required>
      <br>
      <input type="password" class="inputfields" ng-model="user.password" placeholder="Password"
             required>
      <div ng-click="" style="text-decoration:underline">Login</div>
      <div ng-click="forgetpassword()" style="text-decoration:underline">Forget Password?</div> 
      
  </ion-content>
</ion-view>
