<ion-view view-title="Login">
	<ion-content>
		<!--<html>
        <head>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>
$(document).ready(function(){
    $("div").click(function(){
        $("#login").hide();
        $("#login1").hide();
        $(":button").hide();
    });
});
</script>
        </head>
        <body>-->
		<h1>Login</h1>

		<input type="text" id="login" class="inputfields" ng-model="logindata.username" placeholder="username" required>
		<!--<div ng-show="logindata.username=null">Enter your username !</div>-->
		<br>
		<input type="password" id="login1" class="inputfields" ng-model="logindata.password" placeholder="password" required>
		<br>

		<button ng-click="login()">Login</button>
		<div ng-click="forgetpassword()" style="text-decoration:underline">Forget Password?</div>
		<br>
		<br>

		<!--<div>{{forget}}</div>
<br>
<br>-->
		<input type="text" class="inputfields" placeholder="{{forget}}" ng-model="answer.user" ng-change="check()" ng-show="forget.length>0">
		<!--      <div>{{wrong}}</div>
        </body>
    </html>-->
	</ion-content>
</ion-view>