<ion-view view-title="Questionare">
    <ion-content>
        <div ng-repeat="y in question" class="fullquestion">
            <div>
                {{y.quesid}} : {{y.question}}
            </div>

            <div ng-if="y.answer1 == 'Yes'" class="options row">
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="1" ng-model="answerset[$index]">
                    <div class="item-content"  style="width: 90%;">
                        Yes
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0" ng-model="answerset[$index]">
                    <div class="item-content" style="width: 90%;">
                        No
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
            <div ng-if="y.answer1 != 'Yes'" class="options row">
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0" ng-model="answerset[$index]">
                    <div class="item-content" style="width: 90%;">
                        Low
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="0.5" ng-model="answerset[$index]">
                    <div class="item-content" style="width: 90%;">
                        Medium
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio col" style="  font-size: 17px;">
                    <input type="radio" value="1" ng-model="answerset[$index]">
                    <div class="item-content"  style="width: 90%;">
                        High
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
        </div>
        <div class="submit" style="text-align:center;">
            <button class="button button-dark bottombutton" ng-click="showreport()">
                <span>Submit</span>
            </button>
        </div>
    </ion-content>
</ion-view>