<ion-view view-title="Questionare">
    <ion-content>
        <!-- <ion-list>
      <ion-item ng-repeat="question in questions">
          <input type="radio" name="{{question.id}}">Yes
          <input type="radio" name="{{question.id}}">No
      </ion-item>
    </ion-list>-->


        <!--<ul>
			<li ng-repeat="y in question"> {{y.question}}</li>-->
        <!--<ion-list>
	<ion-item ng-repeat="y in question" ng-click="click($index)">-->
        <ion-list>
            <ion-item ng-repeat="y in question">

                <p class="para"><strong>{{y.quesid}}<span>]</span> {{y.question}}</strong>
                </p>
                </p>

                <div ng-if="y.answer1 == 'Yes'">
                    <input type="radio" value="1" ng-model="answerset[$index]">Yes
                    <input type="radio" value="0" ng-model="answerset[$index]">No</div>
                <div ng-if="y.answer1 != 'Yes'">
                    <input type="radio" value="0" ng-model="answerset[$index]">Low
                    <input type="radio" value="0.5" ng-model="answerset[$index]">Medium
                    <input type="radio" value="1" ng-model="answerset[$index]">High</div>
                <!--<input type="radio" value="{{y.answer1}}" ng-model="que.ans">{{y.answer1}}
                <br>
                <input type="radio" value="{{y.answer2}}" ng-model="que.ans">{{y.answer2}}
                <br>
                <input type="radio" value="{{y.answer3}}" ng-model="que.ans" ng-if="y.answer3.length>0">{{y.answer3}}
                <br>-->





                <br>

            </ion-item>
        </ion-list>

        <!--<p class="para"><strong><span>1) </span>Are you feeling Pain, Pressure or Fullness in Your cheeks, brows or Fore-head ?</strong>
		</p>
		

		<p class="para"><strong><span>2) </span>How much is the Pain worsening when bending or Lying down ?</strong>
		</p>
		<div class="list ">

			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content font">
					Low
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>


			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content font">
					Medium
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>


			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content font">
					High
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>



		</div>
		<p class="para"><strong><span>3) </span>Do you have a Stuffy Nose ?</strong>
		</p>
		<div class="list">


			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content font">
					Yes
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>



			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					No
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>

		</div>-->

        <!--<a href="#app/report">-->
            <div class="submit" style="text-align:center;">
                <button class="button button-positive" ng-click="showreport()">
                    <span>Submit</span>
                </button>
            </div>
        <!--</a>-->


    </ion-content>
</ion-view>