<ion-view view-title="Report">
	<ion-content>
		<h1>Report</h1>
		<!--<div class="loader">

			<div class="loaderfill" style="width:{{value}}">{{value}}</div>
			<br>-->
		<span>Sinus Headache</span>
		<div class="loader">
			<div class="loaderfill" style="width:{{sinus}}%">{{sinus}}%</div>
		</div>
		<br><span>Migraine Headache</span>
		<div class="loader">
			<div class="loaderfill" style="width:{{migrane}}%">{{migrane}}%</div>
		</div>
		<br><span>Cluster Headache</span>
		<div class="loader">
			<div class="loaderfill" style="width:{{cluster}}%">{{cluster}}%</div>
		</div>
		<br><span>Common Headache</span>
		<div class="loader">
			<div class="loaderfill" style="width:{{common}}%">{{common}}%</div>
		</div>
		<br>
		<a href="#app/report">
			<div class="submit" style="text-align:center;">
				<button class="button button-positive">Appointment</button>
		</a>
		<br>
		<br>
		<a href="#app/report">
			<div class="submit" style="text-align:center;">
				<button class="button button-positive" ng-click="medicine()">Remedy</button>
		</a>
		<div ng-show="remedy.length>0">
			<span>{{headache}}</span>
			<br>
			<ion-list>
				<ion-item ng-repeat="j in remedy">{{j.method}}
					<br>{{j.mediname}}</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>