<ion-view view-title="Report">
    <ion-content>
        <h4 class="centertext">Report</h4>
        <div class="row">
            <div class="col">
                <img src="img/manheadache.jpg" width="100%" ng-if="user.gender == 'Male'" />
                <img src="img/womanheadache.jpg" width="100%" ng-if="user.gender != 'Male'" />
            </div>
            <div class="col col-75">
                <div class="padding8p"><strong>Name :</strong> {{user.username}}
                    <br><strong>Gender :</strong> {{user.gender}}
                    <br><strong>Age :</strong> {{user.age}}</div>
            </div>
        </div>

        <br>
        <div class="padding8p">
            <span>Sinus Headache</span>
            <div class="loader">
                <div class="loaderfill" style="width:{{sinus}}%">{{sinus}}%</div>
            </div>
            <br><span>Migraine Headache</span>
            <div class="loader">
                <div class="loaderfill" style="width:{{migrane}}%">{{migrane}}%</div>
            </div>
            <br><span>Cluster Headache</span>
            <div class="loader">
                <div class="loaderfill" style="width:{{cluster}}%">{{cluster}}%</div>
            </div>
        </div>
        <br>
        <!--<span>Common Headache</span>
		<div class="loader">
			<div class="loaderfill" style="width:{{common}}%">{{common}}%</div>
		</div>
		<br>-->
        <a href="#app/appointment">
            <div class="submit" style="text-align:center;">
                <button class="button button-dark bottombutton">Get Appointment</button>
        </a>
        <br>
        <br>
        <button class="button button-dark bottombutton" ng-click="medicine()">Remedy</button>
        <div ng-show="remedy.length>0">
            <span>Probably,you have {{headache}}</span>
            <br>
            <div>
                <div class="row" ng-repeat="j in remedy">{{j.method}}
                    <br>
                    <div class="col">{{j.mediname}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>