<ion-view view-title="Sign-up">
	<ion-content>
		<h1>Sign-up</h1>
		<div>
			<input type="text" ng-model="user.name"  placeholder="Name" required class="inputfields">
			<br>

			<input type="text" ng-model="user.gender"  placeholder="Gender" required class="inputfields">
			<br>

			<input type="email" ng-model="user.email"  placeholder="Email" required class="inputfields">
			<br>
			<input type="password" ng-model="user.password"  placeholder="Password" required class="inputfields">
			<br>
			<input type="text" ng-model="user.contact"  placeholder="Contact" class="inputfields">
			<br>
            <input type="button" value="Sign Up" ng-click="change()">
		</div>
       <!-- <div>
        {{user.name}}<br>{{user.gender}}<br>{{user.email}}<br>{{user.password}}<br>{{user.contact}}
        </div>-->
	</ion-content>
</ion-view>