<ion-view view-title="Sign-up">
	<ion-content>
		<h1>Sign-up</h1>
		<div>
			<input type="text" ng-model="user.name" placeholder="Name" required class="inputfields">
			<span ng-show="namerequired">{{namerequired}}</span>
			<div ng-hide="results.rows.length >0">{{exist}}</div>
			<br>

			<input type="text" ng-model="user.gender" placeholder="Gender" required class="inputfields">
			<span ng-show="genderrequired">{{genderrequired}}</span>
			<br>

			<input type="email" ng-model="user.email" placeholder="Email" required class="inputfields">
			<span ng-show="emailrequired">{{emailrequired}}</span>
			<br>
			<input type="password" ng-model="user.password" placeholder="Password" required class="inputfields">
			<span ng-show="passwordrequired">{{passwordrequired}}</span>
			<br>
			<input type="text" ng-model="user.contact" placeholder="Contact" class="inputfields">
			<span ng-show="contactrequired">{{contactrequired}}</span>
			<br>
			<!--<p ng-model="user.question">Your favourite movie</p>
            <input type="text" ng-model="user.answer" placeholder="Answer" class="inputfields"><br>
-->
			<input type="checkbox" ng-model="secret.que" ng-change="question()">
			<input type="button" value="Sign Up" ng-click="change()">
		</div>
		<div ng-repeat="y in users">{{y}}</div>
		<!-- <div>
        {{user.name}}<br>{{user.gender}}<br>{{user.email}}<br>{{user.password}}<br>{{user.contact}}
        </div>-->
	</ion-content>
</ion-view>