/* Empty. Add your own CSS if you like */

a:link {
    color: black;
    text-decoration: none;
}

.inputfields {
    width: 90%%;
    border-color: skyblue !important;
    height: 30%;
    border: solid !important;
}

.para {
    padding: 8px;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 4px;
}

.checkbox {
    padding: 12px;
}

.box {
    height: 52px;
    width: 327px;
    border: 1px;
    display: table-cell;
}

.font {
    font-size: 14px;
}

.loader {
    height: 26px;
    border-color: blueviolet;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.loaderfill {
    height: 26px;
    background-color: blueviolet;
    transition: 1s ease;
    color: white;
    width: 0%;
    padding: 3px;
}

.slot {
    background-color: greenyellow;
    border: 1px solid #35AA35;
}

.bookedslot {
    background-color: rgb(196, 19, 19) !important;
    border: 1px solid #E03030;
}

.loginbox {
    top: 35%;
}

.loginbox2 {
    margin-top: 3px;
}

.loginbg {
    background-image: url(../img/login2.png);
    height: 100vh;
    width: 100%;
    margin-top: -21px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 28%;
}

.loginbutton {
    top: 35vh;
    left: 18vh;
    width: 37%;
}

.signupbutton {
    left: 2%;
    width: 25%;
    bottom: 12px;
}

.signupbg {
    background-image: url(../img/signup.png);
    height: 100vh;
    width: 100%;
    margin-top: -21px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 28%;
}

.fullquestion {
    border-bottom: 1px solid #EBDEDE;
    padding: 14px;
}

.options {
    margin-top: 4%;
}

.centertext {
    text-align: center;
}

.lefttext {
    text-align: left;
}

.inlinediv {
    display: -webkit-inline-box;
}

.perday {
    border: 1px solid #998B8B;
    height: 38px;
    background-color: beige;
    margin-top: 2% !important;
    padding: 0px !important;
}

.innerelement {
    margin-left: 1%;
}

.appointmenttimes {
    vertical-align: middle;
    height: 100%;
    color: azure;
    padding: 0px !important;
    font-size: 10px;
    line-height: 14px;
}

.appointmentdays {
    vertical-align: middle;
    height: 100%;
}

.availableapps {
    background-color: rgb(63, 241, 63);
}

.vtcenter {
    margin-top: 32%;
    transform: translateY(-50%);
    margin-left: 25%;
}

.vtcenter2 {
    margin-top: 13%;
    transform: translateY(-50%);
}

.bottombutton {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin-top: 5%;
}

.padding8p {
    padding: 8px !important;
}

.bar.bar-stable {
    border-color: #111;
    background-color: #444444 !important;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%) !important;
    color: #fff;
}

.bar.bar-stable .title {
    color: #FFFFFF !important;
}

.bar-stable .button.button-clear {
    color: #FFF !important;
}

.homecard {
    margin-top: 12px;
    box-shadow: 2px 2px 3px #AFA9A9 !important;
    width: 99% !important;
}
activated {
    box-shadow: 0px 0px 0px #AFA9A9 !important;
}

.no-border {
    border: 0px !important;
    box-shadow: 0px 0px 0px #fff !important;
}