/* Empty. Add your own CSS if you like */

a:link {
    color: black;
    text-decoration: none;
}

.inputfields {
    width: 90%%;
    border-color: skyblue !important;
    height: 30%;
    border: solid !important;
}

.para {
    padding: 8px;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 4px;
}

.checkbox {
    padding: 12px;
}

.box {
    height: 52px;
    width: 327px;
    border: 1px;
    display: table-cell;
}

.font {
    font-size: 14px;
}

.loader {
    height: 26px;
    border-color: blueviolet;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.loaderfill {
    height: 26px;
    background-color: blueviolet;
    transition: 1s ease;
    color: white;
    width:0%;
    padding: 3px;
}