/* Empty. Add your own CSS if you like */

a:link {
	color: black;
	text-decoration: none;
}

.inputfields {
	width: 90%%;
	border-color: skyblue !important;
	height: 30%;
	border: solid !important;
}